<style>
    html,
    .viewport {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }


    .smart-window[footer-template] .smart-content-container>.smart-content {
        height: calc(100% - var(--smart-window-header-height) - var(--smart-window-footer-height));
    }

    .smart-window .smart-content-container>.smart-content {
        width: 100%;
        height: calc(100% - var(--smart-window-header-height));
        display: flex;
        align-items: center;
        overflow-y: auto;
        padding: var(--smart-window-content-padding);
        background: var(--smart-background);
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
    }

    hoja de estilo del agente de usuario div {
        display: block;
    }

    .smart-window .smart-content-container {
        display: flex;
        flex-direction: column;
        font-family: inherit;
        font-size: inherit;
        width: 100%;
        height: 100%;
        outline: 0;
        max-height: inherit;
    }

    .smart-container {
        box-sizing: none;
        font-family: inherit;
        font-size: inherit;
        display: block;
        outline: 0;
        margin: 0;
        padding: 0;
    }

    .smart-window:not(.smart-container) {
        position: absolute;
        top: calc(50% - var(--smart-window-default-height)/ 2);
        left: calc(50% - var(--smart-window-default-width)/ 2);
        width: 900px;
        height: 536px;
        min-width: var(--smart-window-min-width);
        min-height: var(--smart-window-header-height);
        box-shadow: var(--smart-elevation-24);
        z-index: calc(var(--smart-editor-drop-down-z-index) - 1);
        display: block;
        overflow: hidden;
        font-size: 12px;
        text-align: center;
    }

    #primaryContainer,
    #primaryContainer .content {
        width: 100%;
        height: 100%;
        display: flex;

    }

    #primaryContainer {
        width: 100%;
        height: 100%;
        display: flex;

        flex-direction: column;
    }

    #primaryContainer .content {
        height: calc(100% - 0px);
    }

    #primaryContainer.collapse #sideA {
        width: 0;
    }

    #primaryContainer #sideA {
        width: 157px;
        background-color: #f5f5f5;
    }

    #primaryContainer.collapse #sideB {
        width: 100%;

    }

    #primaryContainer #sideB {
        width: calc(100% - 200px);

    }

    #sideA,
    #sideB {
        padding-top: 30px;
        height: 100%;

    }

    #header {
        position: relative;
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;

    }

    #sideA .controls-container {
        box-sizing: initial;
        width: 100%;
        padding: 0px;
        max-height: calc(100% - 100px);
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 90%;
        grid-row-gap: 10px;
        overflow: auto;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
    }


    #sideA .smart-calendar {
        min-width: initial;
        max-width: 100%;
        height: 250px;
        min-height: initial;
        --smart-font-size: 12px;
        --smart-calendar-cell-size: 26px;
        --smart-calendar-cell-spacing: 4px;
        border: initial;
        --smart-surface: transparent;
    }

    #updateBtn,
    #exportBtn {
        width: 100%;
        height: 30%;
        font-size: 12px;
        margin-bottom: 3px;
        padding: 3px
    }


    .card {
        width: 100%;
    }

    .card-body {
        width: 100%;
        flex: 1 1 auto;
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
        color: var(--bs-card-color);
        text-align: center;
    }

    .smart-input,
    .smart-tree {
        width: 100%;
    }

    .smart-tree {
        height: 200px;
        border: initial;
    }



    #title {
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        font-size: 20px;
        position: relative;
    }



    .smart-tree[selection-mode="checkBox"] smart-tree-items-group>.smart-tree-item-label-container::before,
    .smart-tree[selection-mode="checkBox"] smart-tree-items-group>.smart-tree-item-label-container::after {
        content: initial !important;
    }

    .smart-tree .smart-tree-item[value="birthday"] {
        --smart-primary: green;
    }

    .smart-tree .smart-tree-item[value="holiday"] {
        --smart-primary: cornflowerblue;
    }

    .smart-tree .smart-tree-item[value="event"] {
        --smart-primary: purple;
    }

    #btn-conf {
        margin-left: 10px;
    }

    .badge {
        font-size: 10px;
        font-weight: 400;
    }

    /* CSS Section B Tabs y Grids */
    smart-tabs {
        width: 100%;
        height: 240px;

    }

    .spinner-border-sm {
        padding-top: 3px;
    }


    .smart-tabs .smart-tabs-header-section {
        border: 0px solid transparent;
        background: transparent;
        color: rgb(46, 74, 124);
        padding: 0px;

    }

    /* Barra de Seleccion Inferior  de Etiquetas */
    .smart-tabs-selection-bar {
        background: rgb(245, 107, 16);
        height: 4px;
    }

    /* Control de Etiquetas */
    .smart-tabs .smart-header .smart-tab-strip {
        /*border-bottom: 0px solid  rgb(46, 74, 124);*/
        margin-bottom: 0rem;
        /*font-weight: bold;*/
        border: none;
        height: 42px;
    }

    .smart-tabs .smart-tabs-content-section {
        flex: 1;
        margin: 0;
        color: var(--smart-tabs-color);
        background: transparent;
        border: none;
        margin-top: 1px;
    }

    .justify-content-center {
        justify-content: center !important;
        height: 210px;
    }

    .smart-grid {
        width: 100%;
        height: 68%;
        font-style: normal;
        --smart-font-size: 12px;
        --smart-grid-template-columns: 350px auto;
        --smart-grid-footer-height: 25px;
        --smart-grid-header-height: 35px;
        --smart-grid-column-header-height: 35px;
        background-color: rgb(236, 235, 235);
    }

    smart-grid:not([selection_allow-cell-selection]) smart-grid-row[focus] smart-grid-cell:not([editor]):not([header]) .smart-label {
        background: rgb(189, 188, 185) !important;
        color: var(--smart-primary-color) !important;
        border-color: rgb(189, 188, 185) !important;
    }

    smart-grid-row[selected] smart-grid-cell[selected]:not([selected="indeterminate"]):not([header]):not(.smart-grid-column-border):not(.smart-grid-column-border-collapse):before {
        background: #999;
        opacity: var(--smart-grid-cell-vertical-border-opacity-selected, 0.3);

    }

    smart-grid-row[selected] smart-grid-cell[selected]:not([selected="indeterminate"]):not([header]):not(.smart-grid-column-border):after {
        background: #999;
        opacity: var(--smart-grid-cell-horizontal-border-opacity-selected, 0.3);
    }

    .tabular {
        width: 100%;
        height: 85%;
        --smart-font-size: 12px;
    }


    smart-grid-cell .wrap {
        white-space: normal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.5;
    }

    smart-slider .smart-container {
        overflow: visible;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 150px;
    }

    .drawContainer,
    .smart-container {
        border: none;
        height: fit-content;
        width: 100%;
    }


    .smart-scroll-viewer .smart-scroll-viewer-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        background-color: transparent;
        border-radius: 20%;
    }

    smart-switch-button.smart-element {
        display: inline-block;
        border: none;
        background: 0 0;
        overflow: visible;
        font-family: 'Poppins', serif;
    }

    .smart-switch-button .smart-container {
        font-size: inherit;
        position: relative;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        touch-action: none;
        height: inherit;
        border-radius: 10px;
    }


    .smart-switch-button .smart-thumb {
        border-color: var(--baculo-no-color);
        background-color: var(--baculo-no-color);

    }

    .smart-switch-button:focus .smart-thumb,
    .smart-switch-button[checked] .smart-thumb {
        border-color: var(--baculo-si-color);
        background-color: var(--baculo-si-color);
        font-family: 'Poppins', serif;
    }

    .smart-switch-button .smart-container:before {
        background-color: var(--smart-primary);
        opacity: 0.4;
    }

    .smart-toast-container.smart-toast-container-modal .smart-toast-item {
        width: 600px;
        font-size: small;
    }

    .update .peque {
        padding: 10px;
        height: 50px;
        font-size: small;
    }

    .bxs-cog,
    .azulbaculo {
        text-align: right;
    }

    .conf {
        margin-right: 10px;
    }


    .form-inline {
        display: flex;
        justify-content: flex-end
    }
</style>


<body class="viewport">
    <input type="number" name="maxnivel" id="maxnivel" value="<%=maxnivel%>" hidden>
    <input type="text" name="niveles" id="niveles" value="<%=niveles%>" hidden>
    <input type="text" name="resumen" id="resumen" value="<%=resumen%>" hidden>
    <input type="text" name="idlayout" id="idlayout" value="<%=idlayout%>" hidden>
    <input type="text" name="version" id="version" value="<%=empresa.version%>" hidden>
    <div id="primaryContainer">
        <div id="header">
            <button id="btn-conf" type="button" class="btn btn-secondary btn-sm"><i id="toggleButton"
                    class="fa fa-cogs fa-fw" aria-hidden="true"></i></button>
        </div>
        <div class="content">
            <section id="sideA">
                <div class="controls-container">
                    <div class="card text-start">
                        <div class="card-body">
                            <h6 class="card-title">Versión</h6>
                            <button class="btn bg-azulbaculo" id="updateBtn" name="updateBtn" type="button"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Guardar Objetivos">
                                <span> <i class="fas fa-save" aria-hidden="true"></i> </span> Presupuesto
                            </button>

                            <hr>

                            <button class="btn btn-success" id="exportBtn" name="exportBtn" type="button"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Exportar de Excel">
                                <span> <i class="fas fa-file-excel"></i> Excel </span>
                            </button>

                        </div>
                    </div>
                    <div class="card text-start">
                        <div class="card-body">
                            <h6 class="card-title">Cálculos</h6>
                            <smart-radio-button enable-container-click id="pi" name="pip" checked
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                title="El cálculo se realizará por el % mensual de su propia fila">
                                Peso
                                Ind.</smart-radio-button>

                            <smart-radio-button enable-container-click id="pt" name="ptp" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="El cálculo se realizará por el % mensual de toda la Cía">
                                Peso
                                Cía.</smart-radio-button>
                            <hr>
                            <div id="checked"><span id="log"
                                    class="badge rounded-pill text-bg-success text-center"></span>
                            </div>
                            <smart-switch-button switch-mode="click" checked id="bp" name="bp" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Sumar a los  Padres">
                            </smart-switch-button>
                        </div>
                    </div>



                    <div>
                        <br>
                    </div>
                </div>
            </section>
            <section id="sideB">
                <smart-tabs id="tabs" name="tabs" selected-index="0">
                    <smart-tab-item label='General'>
                        <div class="row align-items-center">
                            <div class="col-sm-2">
                                <label for="nombre" class="form-label">Empresa</label>
                                <input type="text" class="form-control" name="nombre" id="nombre"
                                    value="<%=empresa.nombre%>" readonly>
                            </div>
                            <div class="col-sm-1">
                                <label for="ejercicio_descripcion" class="form-label">Ejercicio</label>
                                <input type="text" class="form-control" name="ejercicio_descripcion"
                                    id="ejercicio_descripcion" value="<%=empresa.ejercicio_descripcion%>" readonly>
                            </div>
                            <div class="col-sm-1">
                                <label for="codigo" class="form-label">Código Layout</label>
                                <input type="text" class="form-control" name="codigo" id="codigo"
                                    value="<%=empresa.idcodigo%>" readonly>
                            </div>
                            <div class="col-sm-2">
                                <label for="descripcionlay" class="form-label">Descripcion</label>
                                <input type="text" class="form-control " name="descripcionlay" id="descripcionlay"
                                    value="<%=empresa.descripcionlay%>" readonly>
                            </div>
                            <div class="col-sm-2">
                                <label for="idversion" class="form-label">Versión Original <%=empresa.version%></label>
                                <select class="form-select form-select-sl" id="idversion" name="idversion"
                                    aria-label="Version">
                                    <% if (empresa.version=='VP' ) {%>
                                        <option value="VP" selected> VP - Version Presupuesto</option>
                                        <option value="V1"> V1 - Version Optimista</option>
                                        <option value="V2"> V2 - Version Pesimista</option>
                                        <option value="V3"> V3 - Version Realista </option>
                                        <%}%>
                                            <% if (empresa.version=='V1' ) {%>
                                                <option value="V1" selected> V1 - Version Optimista</option>
                                                <option value="V2"> V2 - Version Pesimista </option>
                                                <option value="V3"> V3 - Version Realista </option>
                                                <%}%>
                                                    <% if (empresa.version=='V2' ) {%>
                                                        <option value="V2" selected> V2 - Version Pesimista</option>
                                                        <option value="V1"> V1 - Version Optimista </option>
                                                        <option value="V3"> V3 - Version Realista </option>
                                                        <%}%>
                                                            <% if (empresa.version=='V3' ) {%>
                                                                <option value="V3" selected> V3 - Version Realista
                                                                </option>
                                                                <option value="V1"> V1 - Version Optimista</option>
                                                                <option value="V2"> V2 - Version Pesimista</option>
                                                                <%}%>
                                </select>
                            </div>
                            <div class="col-sm-2 text-right">

                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-6 text-right">
                                <label for="observaciones" class="form-label">Observaciones</label>
                                <textarea style="resize: none;" class="form-control" aria-label="With textarea"
                                    name="observaciones" id="observaciones"
                                    rows="3"><%=empresa.observaciones%></textarea>
                            </div>
                        </div>
                    </smart-tab-item>
                    <smart-tab-item label='Configuración'>
                        <div class="row justify-content-center  g-2">
                            <div class="col-4">
                                <label for="resumenlayout" class="form-label">Niveles</label>

                                <smart-grid class="tabular" name="resumenlayout" id="resumenlayout"></smart-grid>


                            </div>

                            <div class="col-4 ">


                                <label for="distable" class="form-label">Distribución</label>
                                <div id="spindist" name="spindist" class="spinner-border text-success spinner-border-sm"
                                    role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <smart-grid class="tabular" name="distable" id="distable"></smart-grid>
                            </div>
                            <div class="col-4">

                                <h3><label id="ceros" name="ceros">Cuenta Ceros</label></h3>
                            </div>
                        </div>
                    </smart-tab-item>
                    <smart-tab-item label='Totales'>
                        <smart-grid id="Tgrid"></smart-grid>
                    </smart-tab-item>
                    <smart-tab-item label='Pesos'>
                        <smart-grid id="Ggrid" name="Ggrid"></smart-grid>
                    </smart-tab-item>
                </smart-tabs>
                <template id="General"><a href="#"><i class="fas fa-info-circle azulbaculo"></i></a>&nbsp Información
                </template>
                <template id="Configuración"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Herramientas de Cálculo"> <i class="fa fa-cogs azulbaculo" aria-hidden="true"></i></a>
                    &nbsp
                    Peso Individual</template>
                <template id="Totales"><a href="#"> <img src="../../images/Total.png" id="img2" /></a> &nbsp
                    Totales</template>
                <template id="Pesos"><a href="#"><span class="smart-badge smart-badge-success smart-badge-pill"><i
                                class="fas fa-calculator "></i></span></a> &nbsp Trabajo &nbsp

                </template>
                <smart-toast id="infotoats" show-close-button modal item-template="">
                </smart-toast>
                <template id="template-toast">Has
                    bloquedado la suma de Padres! Un icono de calculadora rojo
                    <span class="content smart-badge smart-badge-danger smart-badge-pill"><i
                            class="fas fa-calculator"></i>
                    </span> marcara la pestaña de "TRABAJO"
                    <div class="buttons peque"><smart-button id="closeButton">Ok</smart-button></div>
                </template>
                <template id="template-toast-ffalse"> <span class="content smart-badge  smart-badge-pill"><i
                            class="fas fa-filter"></i>
                    </span>Ningun valor cumple las condiciones del filtro

                    <div class="buttons peque"><smart-button id="closeButton">Ok</smart-button></div>
                </template>
                <template id="template-toast-ftrue"> <span class="content smart-badge  smart-badge-pill"><i
                            class="fas fa-filter"></i>
                    </span>Se han encontrado {{nfilas}}
                    <br>
                    <div>
                        <span class="content smart-badge  smart-badge-pill">Las filas encontradas, cuentan los padres de
                            los hijos,
                            que coinciden con la selección. Los valores sólo sumaran de hijos a Padres</span>
                    </div>
                    <div class="buttons peque"><smart-button id="closeButton">Ok</smart-button></div>
                </template>
                <template id="footerTemplate">
                    <div class="row ">
                        <div class="col text-start"> &nbsp &nbsp Creado por <%=empresa.usuario %> el
                                <%=empresa.fechaalta%>
                        </div>
                        <div class="col text-center">
                            <div id="spincalc" name="spincalc" class="spinner-border text-primary spinner-border-sm"
                                role="status" hide>
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div class="col text-end">Última Actualización el <%=empresa.fechaactualizacion %> &nbsp &nbsp
                        </div>
                    </div>
                </template>
                <br />
                <div>
                    <smart-grid id="grid"></smart-grid>
                </div>
                <div>
                    <smart-menu id="menu" mode="dropDown">
                        <smart-menu-item data-id="Recalcular"> <span> <i class="fas fa-balance-scale fa_custom"></i>
                                Recalcular</span>
                        </smart-menu-item>
                        <smart-menu-item data-id="Expandir"> <span> <i class="fas fa-folder-open fa_custom"></i>
                                Expandir Nivel</span>
                        </smart-menu-item>
                        <smart-menu-item data-id="Colapsar"> <span> <i class="fas fa-folder fa_custom"></i> Colapsar
                                Nivel</span>
                        </smart-menu-item>
                    </smart-menu>
                </div>
            </section>
        </div>
    </div>

    <!-- scripts -->

</body>

<!-- scripts -->

<script type="module" src="../../javascripts/smart/smart.grid.js"></script>
<script type="module" src="../../javascripts/smart/smart.switchbutton.js"></script>
<script type="module" src="../../javascripts/smart/smart.dropdownbutton.js"></script>
<script type="module" src="../../javascripts/smart/smart.textbox.js"></script>
<script type="module" src="../../javascripts/smart/smart.button.js"></script>

<script type="module" src="../../javascripts/smart/smart.radiobutton.js"></script>
<script type="module" src="../../javascripts/smart/smart.tabs.js"></script>

<!-- JSZip -->
<script type="text/javascript" src="../../javascripts/smart/jszip.min.js"></script>
<script type="module" src="../../javascripts/source/jutils.js"></script>
<script type="module" src="../../javascripts/source/griddb.js"></script>
<!-- <script type="module" src="../../javascripts/source/ttable.js"></script>-->

<script type="module">
    const primaryContainer = document.getElementById('primaryContainer')
    document.getElementById('toggleButton').addEventListener('click', function () {
        primaryContainer.classList.toggle('collapse');

    });
</script>