<style>
  smart-tabs {
    width: 100%;
    height: 240px;

  }

  .smart-tabs>.smart-container {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-height: inherit;
    box-sizing: unset;
  }

  .smart-tabs .smart-tabs-header-section {
    border: 0px solid transparent;
    background: transparent;
    color: rgb(46, 74, 124);
    padding: 0px;

  }

  /* Barra de Seleccion Inferior  de Etiquetas */
  .smart-tabs-selection-bar {
    background: rgb(245, 107, 16);
    height: 4px;
  }

  /* Control de Etiquetas */
  .smart-tabs .smart-header .smart-tab-strip {
    /*border-bottom: 0px solid  rgb(46, 74, 124);*/
    margin-bottom: 0rem;
    /*font-weight: bold;*/
    border: none;
    height: 42px;
  }

  .smart-tabs .smart-tabs-content-section {
    flex: 1;
    margin: 0;
    color: var(--smart-tabs-color);
    background: transparent;
    border: none;
    margin-top: 1px;
  }

  .smart-table td.smart-table-select-row>div,
  .smart-table th.smart-table-select-all>div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: var(--smart-border-width) solid var(--smart-border);
    width: 10px;
    height: 10px;
    padding: 2px;
    color: var(--smart-primary-color);
    font-family: var(--smart-font-family-icon);
    cursor: pointer;
    border-radius: var(--smart-border-radius);
  }

  .smart-table .smart-container * {
    box-sizing: unset;
    font-size: 11px;
    text-align: center;
  }

  .smart-table .smart-table-header {
    height: var(--smart-table-header-footer-height);
    display: none;
    position: sticky;
    left: 0;
    top: 0;
    padding: 6px;
    /*background-color: var(--smart-background); */
    background-color: var(--smart-primary-color);
    z-index: 2;
    text-align: center;
    font-size: 14px;
  }

  .smart-table th>.wrapper {
    justify-content: center;
    font-weight: normal;
  }

  #distable {
    padding-top: 0px;
    width: 100%;
    height: 1000%
  }

  smart-grid-cell .wrap {
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
  }

  .smart-grid {
    width: 100%;
    height: 68%;
    font-style: normal;

    --smart-font-size: 14px;
    --smart-grid-template-columns: 350px auto;
    --smart-grid-footer-height: 25px;
    --smart-grid-header-height: 35px;
    --smart-grid-column-header-height: 35px;
    background-color: rgb(236, 235, 235);
  }

  .smart-grid.half {
    width: 100%;
    height: 68%;
    font-style: normal;
    --smart-font-size: 14px;
    --smart-grid-template-columns: 350px auto;
    --smart-grid-footer-height: 25px;
    --smart-grid-header-height: 35px;
    --smart-grid-column-header-height: 35px;
    background-color: rgb(236, 235, 235);
  }

  .drawContainer,
  .smart-container {
    border: none;
    height: fit-content;
    width: 100%;
  }

  .smart-switch-button .smart-container {
    font-size: inherit;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    touch-action: none;
    height: inherit;
  }


  .smart-switch-button .smart-thumb {
    border-color: var(--baculo-no-color);
    background-color: var(--baculo-no-color);
  }

  .smart-switch-button:focus .smart-thumb,
  .smart-switch-button[checked] .smart-thumb {
    border-color: var(--baculo-si-color);
    background-color: var(--baculo-si-color);
  }

  .smart-toast-container.smart-toast-container-modal .smart-toast-item {
    width: 600px;
    font-size: small;
  }

  .peque {
    padding: 10px;
    height: 50px;
    font-size: small;
  }

  .bxs-cog,
  .azulbaculo {
    text-align: right;
  }

  .conf {
    margin-right: 10px;
  }

  .form-inline {
    display: flex;
    justify-content: flex-end
  }
</style>
<div>
  <input type="number" name="maxnivel" id="maxnivel" value="<%=maxnivel%>" hidden>
  <input type="text" name="resumen" id="resumen" value="<%=resumen%>" hidden>
  <input type="text" name="idlayout" id="idlayout" value="<%=idlayout%>" hidden>
  <input type="text" name="version" id="version" value="<%=empresa.version%>" hidden>
  <%- include('./layouts/sidebar_obj.ejs') %>
    <div class="form-inline">
      <a class="btn btn-secondary btn-circle text-white conf" data-bs-toggle="offcanvas" href="#offcanvasObj"
        role="button">
        <i class='bx bxs-cog'></i>
      </a>
    </div>
    <smart-tabs id="tabs" name="tabs" selected-index="0">
      <smart-tab-item label='General'>
        <div class="row align-items-center">
          <div class="col-sm-2">
            <label for="nombre" class="form-label">Empresa</label>
            <input type="text" class="form-control" name="nombre" id="nombre" value="<%=empresa.nombre%>" readonly>
          </div>
          <div class="col-sm-1">
            <label for="ejercicio_descripcion" class="form-label">Ejercicio</label>
            <input type="text" class="form-control" name="ejercicio_descripcion" id="ejercicio_descripcion"
              value="<%=empresa.ejercicio_descripcion%>" readonly>
          </div>
          <div class="col-sm-1">
            <label for="codigo" class="form-label">Código Layout</label>
            <input type="text" class="form-control" name="codigo" id="codigo" value="<%=empresa.idcodigo%>" readonly>
          </div>
          <div class="col-sm-2">
            <label for="descripcionlay" class="form-label">Descripcion</label>
            <input type="text" class="form-control " name="descripcionlay" id="descripcionlay"
              value="<%=empresa.descripcionlay%>" readonly>
          </div>
          <div class="col-sm-2">
            <label for="idversion" class="form-label">Versión Original <%=empresa.version%></label>
            <select class="form-select form-select-sl" id="idversion" name="idversion" aria-label="Version">
              <% if (empresa.version=='VP' ) {%>
                <option value="VP" selected> VP - Version Presupuesto</option>
                <option value="V1"> V1 - Version Optimista</option>
                <option value="V2"> V2 - Version Pesimista</option>
                <option value="V3"> V3 - Version Realista </option>
                <%}%>
                  <% if (empresa.version=='V1' ) {%>
                    <option value="V1" selected> V1 - Version Optimista</option>
                    <option value="V2"> V2 - Version Pesimista </option>
                    <option value="V3"> V3 - Version Realista </option>
                    <%}%>
                      <% if (empresa.version=='V2' ) {%>
                        <option value="V2" selected> V2 - Version Pesimista</option>
                        <option value="V1"> V1 - Version Optimista </option>
                        <option value="V3"> V3 - Version Realista </option>
                        <%}%>
                          <% if (empresa.version=='V3' ) {%>
                            <option value="V3" selected> V3 - Version Realista</option>
                            <option value="V1"> V1 - Version Optimista</option>
                            <option value="V2"> V2 - Version Pesimista</option>
                            <%}%>
            </select>
          </div>
          <div class="col-sm-2 text-right">

          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-sm-6 text-right">
            <label for="observaciones" class="form-label">Observaciones</label>
            <textarea style="resize: none;" class="form-control" aria-label="With textarea" name="observaciones"
              id="observaciones" rows="3"><%=empresa.observaciones%></textarea>
          </div>
        </div>
      </smart-tab-item>
      <smart-tab-item label='Configuración'>
        <div class="row">

          <div class="col-sm-4">
            <div>
              <smart-table name="distable" id="distable" selection selection-mode='one'></smart-table>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <smart-slider id="slider" name="slider" coerce show-tooltip orientation="horizontal" min="0" max="100"
              value="0" ticks-position="track" mechanical-action="switchWhileDragging" checked>
              <h6><span class="text-center" id="slidertxt" name="slidertxt"> % Mínimo de Peso</span></h6>
            </smart-slider>

          </div>
          <div class="col-sm-4 text-right">
          </div>
        </div>
      </smart-tab-item>
      <smart-tab-item label='Totales'>
        <smart-grid id="Tgrid"></smart-grid>
      </smart-tab-item>
      <smart-tab-item label='Pesos'>
        <smart-grid id="Ggrid" name="Ggrid"></smart-grid>
      </smart-tab-item>
    </smart-tabs>
    <template id="General"><a href="#"><i class="fas fa-info-circle azulbaculo"></i></a>&nbsp Información
    </template>
    <template id="Configuración"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Herramientas de Cálculo"> <i class="fa fa-cogs azulbaculo" aria-hidden="true"></i></a> &nbsp
      Peso Individual</template>
    <template id="Totales"><a href="#"> <img src="../../images/Total.png" id="img2" /></a> &nbsp
      Totales</template>
    <template id="Pesos"><a href="#"><span class="smart-badge smart-badge-success smart-badge-pill"><i
            class="fas fa-calculator "></i></span></a> &nbsp Trabajo</template>
    <smart-toast id="infotoats" show-close-button modal item-template="">
    </smart-toast>
    <template id="template-toast">Has
      bloquedado la suma de Padres! Un icono de calculadora rojo
      <span class="content smart-badge smart-badge-danger smart-badge-pill"><i class="fas fa-calculator"></i>
      </span> marcara la pestaña de "TRABAJO"
      <div class="buttons peque"><smart-button id="closeButton">Ok</smart-button></div>
    </template>
    <template id="template-toast-ffalse"> <span class="content smart-badge  smart-badge-pill"><i
          class="fas fa-filter"></i>
      </span>Ningun valor cumple las condiciones del filtro

      <div class="buttons peque"><smart-button id="closeButton">Ok</smart-button></div>
    </template>
    <template id="template-toast-ftrue"> <span class="content smart-badge  smart-badge-pill"><i
          class="fas fa-filter"></i>
      </span>Se han encontrado {{nfilas}}
      <br>
      <div>
        <span class="content smart-badge  smart-badge-pill">Las filas encontradas, cuentan los padres de los hijos,
          que coinciden con la selección. Los valores sólo sumaran de hijos a Padres</span>
      </div>
      <div class="buttons peque"><smart-button id="closeButton">Ok</smart-button></div>
    </template>
    <template id="footerTemplate">
      <div class="row justify-content-center align-items-center g-2">
        <div class="col text-start"> &nbsp &nbsp Creado por <%=empresa.usuario %> el <%=empresa.fechaalta%>
        </div>
        <div class="col text-center">

        </div>
        <div class="col text-end">Última Actualización el <%=empresa.fechaactualizacion %> &nbsp &nbsp
        </div>
      </div>
    </template>
    <br />
    <div>
      <smart-grid id="grid"></smart-grid>
    </div>
    <div>
      <smart-menu id="menu" mode="dropDown">
        <smart-menu-item data-id="Recalcular"> <span> <i class="fas fa-balance-scale fa_custom"></i> Recalcular</span>
        </smart-menu-item>
        <smart-menu-item data-id="Expandir"> <span> <i class="fas fa-folder-open fa_custom"></i> Expandir Nivel</span>
        </smart-menu-item>
        <smart-menu-item data-id="Colapsar"> <span> <i class="fas fa-folder fa_custom"></i> Colapsar Nivel</span>
        </smart-menu-item>
      </smart-menu>
    </div>
</div>

<script type="module" src="../../javascripts/smart/smart.grid.js"></script>
<script type="module" src="../../javascripts/smart/smart.switchbutton.js"></script>

<script type="module" src="../../javascripts/smart/smart.textbox.js"></script>
<script type="module" src="../../javascripts/smart/smart.button.js"></script>

<script type="module" src="../../javascripts/smart/smart.radiobutton.js"></script>
<script type="module" src="../../javascripts/smart/smart.tabs.js"></script>
<script type="module" src="../../javascripts/smart/smart.table.js"></script>
<script type="module" src="../../javascripts/smart/smart.slider.js"></script>

<!-- JSZip -->
<script type="text/javascript" src="../../javascripts/smart/jszip.min.js"></script>

<script type="module" src="../../javascripts/source/jutils.js"></script>
<script type="module" src="../../javascripts/source/griddb.js"></script>
<script type="module" src="../../javascripts/source/ttable.js"></script>

<%- include('./partials/footer.ejs') %>